#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.file-tools {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.file-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.file-button:hover {
  background-color: #0056b3;
}

.global-tools {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 10px;
  transform: translateY(-50%); /* Adjust position to center */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.global-button {
  padding: 10px 10px;
  background-color: #007bff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
  
.global-button:hover {
  background-color: #0056b3;
}